// Componentes
@import "./components/player.scss";
@import "./components/song.scss";
@import "./components/playList.scss";
@import "./components/modal.scss";

// Utils
@import "./utils/var.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  background-image: url('https://lastfm.freetls.fastly.net/i/u/300x300/c63984cd7a6f404bc0f4e1c3bc17e0c7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  @include tablets {
    padding: 50px 0;
  }
  @include desktops {
    width: 100vw;
    height: 100vh;
  }
}

.container {
  height: auto;
  display: grid;
  @include mobiles {
    width: 100vw;
    grid-template-rows: calc(85vw*0.5625) 80px 1fr;
    row-gap: 10px;
    padding: 60px 7.5vw;
    background-color: $bg-tertiary;
  }
  @include tablets {
    width: 80vw;
    grid-template-rows: calc(80vw*0.5625) 80px 1fr;
    row-gap: 15px;
  }
  @include desktops {
    grid-template-rows: 405px 90px;
    grid-template-columns: 320px 720px;
    grid-template-areas: "playList player" "playList song";
    gap: 20px;
  }
}
