@import "../utils/var.scss";

@mixin btn($w, $h, $bg: transparent, $c: $bg-secondary, $i-fs, $btn: false) {
  width: $w;
  height: $h;
  background-color: $bg;
  color: $c;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  i {
    font-size: $i-fs;
    line-height: $i-fs;
  }
  @if $btn {
    transform: scale(1);
    &:hover {
      i {
        transform: scale(.8);
        transition: 0.3s;
      }
    }
  }
}

@mixin title($w, $m, $fs, $fw: 600) {
  width: $w;
  margin: $m;
  font-size: $fs;
  font-weight: $fw;
  line-height: $fs;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin input($w, $h, $bg: transparent, $c, $fs, $b, $cb) {
  width: $w;
  height: $h;
  background-color: $bg;
  color: $c;
  font-size: $fs;
  border: none;
  border-bottom: $b solid $cb;
  outline: none;
  padding: 0;
  &::placeholder {
    color: $c;
    opacity: 0.6;
  }
}
