
// Colors
$bg-primary: #FFD800;
$bg-secondary: #cfcfcf;
$bg-tertiary: rgba(0,0,0,.7);

$white: #ffffff;
$black: #0f0f0f;

$lightBlue: #014f74;
$red: #C70039;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


// Media Query
$mobile: '(max-width: #{$breakpoint-mobile})';
$tablet: '(min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet})';
$desktop: '(min-width: #{$breakpoint-desktop})';