// Utils
@import "../utils/var.scss";
@import "../utils/mixins.scss";
@import "../utils/animations.scss";

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: scale(0);
  transition: 0.5s;
  .containerModal {
    display: grid;
    grid-template-areas: "search" "results" "playList";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1.25fr;
    gap: 20px;
    @include mobiles {
      width: 85vw;
      height: calc(100vh - 120px);
    }
    @include tablets {
      width: 80vw;
      height: calc(100vh - 100px);
    }
    @include desktops {
      width: 1060px;
      height: 516px;
      grid-template-areas: "search search" "results playList";
      grid-template-columns: 1fr 320px;
      grid-template-rows: 70px 1fr;
    }
    .containerSearch {
      background-color: $bg-tertiary;
      grid-area: search;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      gap: 20px;
      input {
        @include input(
          $w: 100%,
          $h: 30px,
          $bg: transparent,
          $c: $bg-secondary,
          $fs: 20px,
          $b: 2px,
          $cb: $bg-secondary
        );
        width: 100%;
        height: 30px;
      }
      .btnSearch {
        @include btn(
          $w: 30px,
          $h: 32px,
          $bg: transparent,
          $c: $bg-secondary,
          $i-fs: 20px,
          $btn: false
        );
        transform: scale(1);
        transition: 0.3s;
        &:hover {
          transform: scale(0.95);
          transition: 0.3s;
        }
        span {
          display: none;
        }
        @include desktops {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 15px;
          width: 135px;
          background-color: $lightBlue;
          color: $white;
          i {
            font-size: 16px;
          }
          span {
            font-size: 17px;
            display: block;
          }
        }
      }
      .btnClosed {
        @include btn(
          $w: 40px,
          $h: 32px,
          $bg: $red,
          $c: $white,
          $i-fs: 20px,
          $btn: false
        );
        transform: scale(1);
        transition: 0.3s;
        &:hover {
          transform: scale(0.95);
          transition: 0.3s;
        }
        @include mobiles {
          width: 45px;
        }
      }
    }
    .containerResults {
      background-color: $bg-tertiary;
      grid-area: results;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-x: auto;
      padding: 20px;
      &::-webkit-scrollbar {
        width: 0;
      }
      .itemResult {
        background-color: $black;
        width: 100%;
        height: 80px;
        display: grid;
        grid-template-columns: 60px 1fr 14px;
        grid-template-rows: 80px;
        place-items: center;
        gap: 15px;
        padding: 0 15px;
        box-sizing: border-box;
        img {
          width: 60px;
          height: 60px;
          margin-left: auto;
        }
        .titleResult {
          width: 100%;
          color: $bg-secondary;
          h2, p {
            @include title($w: calc(85vw - 170px), $m: 0, $fs: 16px, $fw: 600);
            line-height: 24px;
            @include tablets {
              width: calc(85vw - 210px);
            }
            @include desktops {
              width: 540px;
            }
          }
          p {
            font-size: 12px;
            font-weight: 200;
          }
        }
        button {
          @include btn(
            $w: 14px,
            $h: 32px,
            $bg: transparent,
            $c: $white,
            $i-fs: 14px,
            $btn: true
          );
        }
      }
      .noResults{
        display: none;
        margin: auto auto;
        color: $white;
        text-align: center;
        i{
          font-size: 80px;
        }
        p{
          font-size: 20px;
          margin: 20px 0 0;
        }
        @include tablets{
          i{
            font-size: 70px;
          }
          p{
            font-size: 20px;
            margin: 10px 0 0;
          }
        }
      }
      .default{
        font-size:80px;
        color: $white;
        margin: auto auto;
        @include tablets{
          font-size: 70px;
        }
      }
    }
    .containerPlayList {
      grid-area: playList;
      background-color: $bg-tertiary;
    }
  }
}
