// Utils
@import "../utils/var.scss";
@import "../utils/mixins.scss";
@import "../utils/animations.scss";

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: scale(0);
  transition: 0.5s;
  .containerSearch {
    background-color: $black;
    @include mobiles {
      width: 85vw;
      height: calc(100vh - 120px);
    }
    @include tablets {
      width: 80vw;
      height: calc(100vh - 100px);
    }
    @include desktops {
      width: 1060px;
      height: 516px;
    }
  }
}
