// Utils
@import "../utils/var.scss";
@import "../utils/mixins.scss";
@import "../utils/animations.scss";

.playList {
  background-color: $bg-tertiary;
  .searchTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobiles {
      width: 85vw;
      height: 50px;
      box-sizing: border-box;
    }
    @include tablets {
      width: calc(80vw - 40px);
      height: 60px;
    }
    @include desktops {
      grid-area: playList;
      width: 280px;
      height: 40px;
      top: 0;
      left: 0;
      padding-bottom: 18px;
      box-sizing: border-box;
    }
    h1 {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      color: $bg-secondary;
    }
    button {
      @include btn($w: 15px, $h: 40px, $c: $bg-secondary, $i-fs: 16px);
      padding-left: 10px;
    }
  }
  .searchInput {
    margin-top: -10px;
    height: 55px;
    display: none;
    input {
      @include input(
        $w: 85vw,
        $h: 40px,
        $c: $bg-secondary,
        $fs: 16px,
        $b: 2px,
        $cb: $bg-secondary
      );
      @include tablets {
        width: calc(80vw - 40px);
      }
      @include desktops {
        width: 280px;
        box-sizing: border-box;
      }
    }
  }
  .containerList {
    overflow-x: auto;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    transition: 0.3s;
    overflow-y: auto;
    position: relative;
    &::-webkit-scrollbar {
      width: 0;
    }
    @include mobiles {
      max-height: 570px;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
    @include tablets {
      max-height: 560px;
      width: calc(80vw - 40px);
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }
    @include desktops {
      max-height: 435px;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .withoutListMain{
      color: $bg-secondary;
      text-align: center;
      width: 280px;
      @include desktops {
        margin-top: 150px;
      }
      i{
        font-size: 70px;
      }
      h2{
        margin: 10px 0 0;
        width: auto;
      }
    }
    .itemList {
      @include btn(
        $w: calc((85vw - 8px) / 2),
        $h: calc((85vw - 8px) / 2 + 50px),
        $bg: $bg-tertiary,
        $c: $bg-secondary,
        $i-fs: none,
        $btn: false
      );
      transform: scale(1);
      transition: .3s;
      background-size: cover;
      display: flex;
      flex-direction: column;
      position: relative;
      &:hover {
        background-color: $black;
        color: $white;
        transform: scale(.9);
        transition: .3s;
      }
      .playing {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        .bar {
          background-color: $bg-secondary;
          width: 3px;
          animation: sound 2s ease-in-out infinite;
          transform: scale(0);
          &:nth-child(1) {
            height: 8px;
            animation-delay: 0s;
            animation-timing-function: ease-in(0.075, 0.82, 0.165, 1);
          }
          &:nth-child(2) {
            height: 15px;
            animation-delay: 0.2s;
            animation-timing-function: ease-out(0.77, 0, 0.175, 1);
          }
          &:nth-child(3) {
            height: 8px;
            animation-delay: 0.1s;
            animation-timing-function: ease-in(0.47, 0, 0.745, 0.715);
          }
        }
      }
      @include tablets {
        width: calc((80vw - 30px - 40px) / 3);
        height: calc((80vw - 30px - 40px) / 3 + 50px);
      }
      @include desktops {
        // width: 125px;
        width: 135px;
        height: 180px;
      }
      .img {
        width: calc((85vw - 8px) / 2);
        height: calc((85vw - 8px) / 2);
        background-size: cover;
        @include mobiles {
        }
        @include tablets {
          width: calc((80vw - 30px - 40px) / 3);
          height: calc(80vw - 30px - 40px);
        }
        @include desktops {
          width: 100%;
        }
      }
      .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        gap: 5px;
        text-align: start;
        box-sizing: border-box;
        @include desktops {
          height: 50px;
          padding: 8px;
          gap: 3px;
        }
        .titleSong {
          @include title($w: calc((85vw - 8px) / 2 - 20px), $m: 0, $fs: 18px);
          @include tablets {
            width: calc((80vw - 135px) / 3);
          }
          @include desktops {
            // -moz-width: 109px;
            width: 119px;
            font-size: 14px;
          }
        }
        .singer {
          @include title(
            $w: calc((85vw - 8px) / 2 - 20px),
            $m: 0,
            $fs: 14px,
            $fw: 300
          );
          @include tablets {
            width: calc((80vw - 135px) / 3);
            width: 100px;
          }
          @include desktops {
            // width: 109px;
            width: 119px;
            font-size: 12px;
          }
        }
      }
    }
  }
  @include mobiles {
    padding: 0;
    background-color: transparent;
  }
  @include tablets {
    padding: 0 20px 20px 20px;
  }
  @include desktops {
    grid-area: playList;
    padding: 20px;
  }
}
