// Utils
@import "../utils/var.scss";
@import "../utils/mixins.scss";

.song {
  background-color: $bg-tertiary;
  display: grid;
  grid-template-columns: 60px 1fr 80px;
  gap: 10px;
  place-content: center;
  padding: 0 10px;

  .album {
    width: 60px;
    height: 60px;
  }
  .title {
    color: $bg-secondary;
    padding-top: 12px;
    h2 {
      @include title($w: calc(85vw - 180px), $m: 0, $fs: 20px);
    }
    p {
      @include title($w: calc(85vw - 180px), $m: 5px 0 0, $fs: 14px, $fw: 300);
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      @include btn(
        $w: 40px,
        $h: 40px,
        $c: $bg-secondary,
        $i-fs: 20px,
        $btn: true
      );
    }
  }
}
