// Utils
@import "../utils/var.scss";
@import "../utils/mixins.scss";

.song {
  background-color: $bg-tertiary;
  display: grid;
  grid-template-columns: 60px 1fr 80px;
  gap: 10px;
  place-content: center;

  .album {
    width: 60px;
    height: 60px;
  }
  .title {
    color: $bg-secondary;
    padding-top: 12px;
    h2 {
      @include title($w: calc(85vw - 140px), $m: 0, $fs: 20px);
      @include tablets {
        width:  calc(80vw - 200px);//////////////////////////////////////////////////
      }
      @include desktops {
        width: 520px;
      }
    }
    p {
      @include title($w: calc(85vw - 140px), $m: 5px 0 0, $fs: 14px, $fw: 300);
      @include tablets {
        width:  calc(80vw - 200px);
      }
      @include desktops {
        width: 520px;
      }
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets{
      justify-content: initial;
    }
    button {
      @include btn(
        $w: 40px,
        $h: 40px,
        $c: $bg-secondary,
        $i-fs: 20px,
        $btn: true
      );
      @include mobiles {
        width: 30px;
        .back{
          margin-right: 20px;
        }
        .next{
          margin-left: 15px;
        }
      }
      @include tablets {
        width: 35px;
        .back{
          margin-right: 20px;
        }
        .next{
          margin-left: 17px;
        }
      }
    }
  }
  @include mobiles {
    grid-template-columns: 60px 1fr 60px;
  }
  @include tablets {
    padding: 0 20px;
  }
  @include desktops {
    grid-area: song;
    padding: 0 20px;
  }
}
