@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
.player {
  background-color: #F2B705;
}
.player video {
  height: 100%;
  width: 100%;
}

.song {
  background-color: #F2B705;
  display: grid;
  grid-template-columns: 60px 1fr 80px;
  gap: 10px;
  place-content: center;
  padding: 0 10px;
}
.song .album {
  width: 60px;
  height: 60px;
}
.song .title {
  color: #B12E10;
  padding-top: 12px;
}
.song .title h2 {
  width: calc(85vw - 180px);
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.song .title p {
  width: calc(85vw - 180px);
  margin: 5px 0 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.song .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song .controls button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #B12E10;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  transform: scale(1);
}
.song .controls button i {
  font-size: 20px;
  line-height: 20px;
}
.song .controls button:hover i {
  transform: scale(0.8);
  transition: 0.3s;
}

.playList {
  background-color: #F2B705;
  padding: 10px;
  position: relative;
}
.playList .searchTitle {
  z-index: 3;
  position: absolute;
  display: flex;
  width: calc(85vw - 20px);
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #F2B705;
}
.playList .searchTitle h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #B12E10;
}
.playList .searchTitle button {
  width: auto;
  height: 40px;
  background-color: transparent;
  color: #B12E10;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}
.playList .searchTitle button i {
  font-size: 20px;
  line-height: 20px;
}
.playList .searchInput {
  z-index: 2;
  position: absolute;
  transform: translateY(50px);
  transition: 0.3s;
}
.playList .searchInput input {
  width: calc(85vw - 20px);
  height: 40px;
  background-color: #F2B705;
  color: #B12E10;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #B12E10;
  outline: none;
  padding: 0;
}
.playList .searchInput input::placeholder {
  color: #B12E10;
  opacity: 0.6;
}
.playList .containerList {
  padding-top: 110px;
  transition: 0.3s;
  width: 100%;
  height: 620px;
  box-sizing: border-box;
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 10px;
}
.playList .containerList button {
  width: calc((85vw - 30px) / 2);
  height: calc((85vw - 30px) / 2 + 50px);
  background-color: #B12E10;
  color: #cccccc;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.playList .containerList button i {
  font-size: none;
  line-height: none;
}
.playList .containerList button:hover {
  background-color: #cccccc;
  color: #B12E10;
}
.playList .containerList button .img {
  width: calc((85vw - 30px) / 2);
  height: calc((85vw - 30px) / 2);
  background-size: cover;
}
.playList .containerList button .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  gap: 5px;
  text-align: start;
}
.playList .containerList button .title h1 {
  width: calc((85vw - 30px) / 2 - 20px);
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.playList .containerList button .title p {
  width: calc((85vw - 30px) / 2 - 20px);
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body {
  background-color: #FFD800;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 480px) {
  body {
    padding: 60px 0;
  }
}

.container {
  height: auto;
  width: 85vw;
  display: grid;
  grid-template-rows: 45vw 80px 1fr;
  row-gap: 10px;
}

/*# sourceMappingURL=styles.css.map */
